<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/reset.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/main.css'>
    <script src='js/requires.js'></script>
    <script src='js/main.js'></script>
</head>
<body>
    <div id='app'>
        <table>
            <tr>
                <td class='name'>Nombre del servidor</td>
            </tr>
            <tr>
                <td><input type='text' id='name' size='30' spellcheck="false"></td>
            </tr>
        </table>
        <table>
            <tr>
                <td class='directory'>Directorio del servidor</td>
            </tr>
            <tr>
                <td><input type='text' id='directory' size='40' disabled></td>
                <td><div id='choose'></div></td>
            </tr>
        </table>
        <div id='save' class='button'>Agregar</div>
    </div>
</body>
</html>